<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Контрагент №{{partner.number}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>Краткое название</p>
    <p><strong>{{partner.name}}</strong></p>
    <p>Полное название</p>
    <p><strong>{{partner.fullname}}</strong></p>
    <p>Контакты</p>
    <p><strong>{{partner.contact}}</strong></p>
    <p>Контактное лицо</p>
    <p><strong>{{partner.person}}</strong></p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="closeModal()">Закрыть</button>
</div>