<h2>Продажи</h2>
<ul class="nav nav-pills stock_filters">
	<li ng-repeat="state in filterArr" ng-class="{active: currState === state}">
		<a ng-click="filterBy(state)" ng-if="state===''">Все продажи</a>
		<a ng-click="filterBy(state)" ng-if="state==='new'">Новые</a>
		<a ng-click="filterBy(state)" ng-if="state==='approved'">Подтвержденные</a>
		<a ng-click="filterBy(state)" ng-if="state==='closed'">Завершенные</a>
		<a ng-click="filterBy(state)" ng-if="state==='canceled'">Отмененные</a>
	</li>
</ul>
<div class="stock_controls">
	<input type="text" placeholder="Искать по номеру" class="search_field" ng-model="search.number">
	<a href="#sales/create" class="btn btn-success add_butt pull-right" >
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать продажу
	</a>
</div>
<table class="stock_table table table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('date')">
				Дата/Время <span class="caret" ng-class="{visible: sortProperty === 'date'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('number')">
				Номер<span class="caret" ng-class="{visible: sortProperty === 'number'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('customer')">
				Покупатель<span class="caret" ng-class="{visible: sortProperty === 'customer'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('items')">
				Кол-во товаров<span class="caret" ng-class="{visible: sortProperty === 'items'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('sum')">
				Сумма<span class="caret" ng-class="{visible: sortProperty === 'sum'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('manager')">
				Менеджер<span class="caret" ng-class="{visible: sortProperty === 'manager'}"></span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="tr_order"
			ng-repeat="sale in sales | myFilter:'state':currState | filter:search | orderBy:sortProperty:reverseSort as results" 
			ng-click="editSale(sale.number)">
			<td ng-class="{
				info: sale.state === 'new',
				success: sale.state === 'approved',
				warning: sale.state === 'closed',
				danger: sale.state === 'canceled'
			}">{{$index+1}}</td>
			<td>{{sale.date | date : 'dd.MM.yy HH:mm'}}</td>
			<td>{{sale.number}}</td>
			<td>{{sale.customer.name}}</td>
			<td>{{sale.items.length}}</td>
			<td>{{sale.sum | currency}}</td>
			<td>{{sale.manager}}</td>
		</tr>
		<tr ng-if="results.length === 0"><td colspan="7" class="text-center"><strong>Нет заказов</strong></td></tr>
	</tbody>
</table>