<div class="col-sm-6 col-sm-offset-3">
	<form name="enterForm" novalidate>
		<h2>Вход</h2>
		<h4><strong>Логин</strong></h4>
		<input type="login" ng-model="user.login" required>
		<h4><strong>Пароль</strong></h4>
		<input type="password" ng-model="user.password" required>
		<hr>
		<div ng-if="err.login" class="alert alert-danger text-center" role="alert">
			<strong>Неверный логин!</strong>
		</div>
		<div ng-if="err.pass" class="alert alert-danger text-center" role="alert">
			<strong>Неверный пароль!</strong>
		</div>
		<button  class="btn btn-success" type="submit" ng-click="enterUser(user)" ng-disabled="enterForm.$invalid">Вход</button>
	</form>
</div>