<h2>Склад</h2>
<ul class="nav nav-pills stock_filters">
	<li ng-repeat="categor in filterArr" ng-class="{active: currCategory === categor}">
		<a ng-click="filterBy(categor)">{{categor ? categor : 'Все товары'}}</a>
	</li>
</ul>
<div class="stock_controls">
	<input type="text" placeholder="Искать по названию" class="search_field" ng-model="search.name">
	<button class="btn btn-default add_butt pull-right" ng-click="openEditModal({},'create')">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать товар
	</button>
</div>

<table class="stock_table table table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th class="long" ng-class="{dropup: reverseSort}" ng-click="sortBy('art')">
				Артикул<span class="caret" ng-class="{visible: sortProperty === 'art'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('name')">
				Наименование<span class="caret" ng-class="{visible: sortProperty === 'name'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('price')">
				Цена<span class="caret" ng-class="{visible: sortProperty === 'price'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('quantity')">
				Наличие<span class="caret" ng-class="{visible: sortProperty === 'quantity'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('debt')">
				Обязательства<span class="caret" ng-class="{visible: sortProperty === 'debt'}"></span>
			</th>
			<th ng-class="{dropup: reverseSort}" ng-click="sortBy('ordered')">
				Заказано<span class="caret" ng-class="{visible: sortProperty === 'ordered'}"></span>
			</th>
			<th>Ред.</th>
		</tr>
	</thead>
	<tbody>
		<tr class="tr_item" ng-repeat="item in stock | myFilter:'category':currCategory | filter:search |orderBy:sortProperty:reverseSort as results">
			<td ng-click="openDetailItemModal(item)">{{$index+1}}</td>
			<td ng-click="openDetailItemModal(item)">{{item.art}}</td>
			<td ng-click="openDetailItemModal(item)">{{item.name}}</td>
			<td ng-click="openDetailItemModal(item)">{{item.price | currency}}</td>
			<td ng-click="openDetailItemModal(item)">{{item.quantity}}</td>
			<td ng-click="openDetailItemModal(item)">{{item.debt}}</td>
			<td ng-click="openDetailItemModal(item)">{{item.ordered}}</td>
			<td class="options_td" ng-controller="PopoverCtrl">
				<button class="options_item_button btn btn-sm btn-default" ng-click="popover.open()" uib-popover-template="popover.templateUrl" popover-trigger="'outsideClick'" popover-title="Операции над товаром" popover-is-open="popover.isOpen">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				</button>
			</td>
		</tr>
		<tr ng-if="results.length === 0"><td colspan="8" class="text-center"><strong>Ничего нет</strong></td></tr>
	</tbody>
</table>
