
@import url(../style/bootstrap.css);

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    margin-bottom: 10px;
    padding-top: 10px;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
button {
    outline: none !important;
}
a[ng-click]{
    cursor: pointer;
}
input {
  border: 1px solid #ccc;
  padding-left: 10px;
  outline: none !important;
}
h2 {
    margin-bottom: 30px;
}
.tar {
    text-align: right !important;
}
.mgb {
    margin-bottom: 15px;
}
.not_hover {
    background: #fff !important;
    td {
        border-top: none !important;
        border-bottom: none !important;
    }
}
.bg_w {
    background: #fff !important;
}
.air {
    height: 40px;
}
.quant_input {
    width: 60px;
    margin-top: 2px;
    margin-bottom: 0 !important;
    padding: 0;
    text-align: center;
}
.stock_table {
    th:first-child {
        text-align: center;
    }
    td:first-child {
        text-align: center;
    }
    th.long {
        width: 130px;
    }
    .caret {
        opacity: 0;
        &.visible {
            opacity: 1;
        }
    }
}
.stock_filters {
    margin-bottom: 20px;
}
.stock_controls {
    position: relative;
    .add_butt {
    }
}
.options_td {
    width: 50px;
}
.popover-content {
    min-width: 280px;
}
.remove_butt {
    padding: 4px 6px 2px 7px;
}
.modal_form {
    p {
        margin-bottom: 4px;
    }
    input {
        margin-bottom: 10px;
    }
    .ng-valid.ng-touched {
      border-color: limegreen;
    }
}
.search_field {
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
}