<div class="modal-header">
  <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h3 class="modal-title">Выберите контрагента</h3>
</div>
<div class="modal-body">
    <input type="text" placeholder="Искать по названию" class="search_field" ng-model="search.name">
	<table class="stock_table table table-hover table-striped table-bordered">
        <thead>
            <tr>
               <th>№</th>
               <th>Наименование</th>
               <th>Полное наименование</th>
               <th>Контакты</th>
               <th>Контактное лицо</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr_customer" ng-repeat="partner in partners | filter:search as results" ng-click="setPartner(partner)">
                <td>{{$index + 1}}</td>
                <td>{{partner.name}}</td>
                <td>{{partner.fullname}}</td>
                <td>{{partner.contact}}</td>
                <td>{{partner.person}}</td>
            </tr>
            <tr ng-if="results.length === 0"><td colspan="4" class="text-center"><strong>Ничего не найдено</strong></td></tr>
        </tbody>
    </table>
</div>