<div class="modal-header">
    <h3 class="modal-title">{{item.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
   <p>Наименование</p>
   <input type="text" ng-model="item.name">
   <p>Артикул</p>
   <input type="text" ng-model="item.art">
   <p>Цена</p>
   <input type="text" ng-model="item.price">
   <p>Категория</p>
   <input type="text" ng-model="item.category">
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="save(item)">Сохранить товар</button>
</div>